.movie-hidden-div {
    margin: 0;
    height: 20px;
}

.movie-detailed-container {
    width: 85%;
    margin: 1rem auto;
}

.movie-inner-container {
    display: flex;
    justify-content: flex-end;
}

.movie-lower-container {
    display: flex;
    justify-content: center;
}