.popular-film-container {
    width: 100%;
    margin: 0;
}

.popular-film-hidden-div {
    margin-top: 0;
    height: 10px;
}

.movies-child-container {
    width: 85%; 
    margin: 1rem auto;
}

.popular-film-btn {
    border: none;
    color: white;
    background-color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.popular-film-btn:hover {
    background-color: rgb(139, 120, 58);
}

@media screen and (max-width: 800px) {
    .popular-film-btn {
        width: 100%;
    }
}